@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body, html {
  height: 100vh;
}

body {
  margin: 60px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto, 5);
  grid-template-areas:
      "sect1"
      "sect2"
      "sect3"
      "main"
      "footer";
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5;
}

aside {
  grid-area: sidebar;
  background-color: white;
  padding:15px;
  text-align: left;
  margin-top: 50px;
}
.social_buttons {
  grid-area: sidebar;
  display:inline-block;
  height:5px;
  width:5px;
  padding:25px;
  opacity: 70%;
}
.social_buttons:hover {
  grid-area: sidebar;
  display:inline-block;
  opacity: 100%;
  transition: 0.5s;
}

.logo {
cursor: pointer;
max-width: 165px;
margin-left: 20px;
}

.nav_links {
list-style: none;
margin-left: 35px;
padding: 35px;
text-decoration: none;
}

.nav_links li {
display: inline-block;
padding: 0px 20px;
text-decoration: none;
}

.nav_links li a {
transition: all 0.3s ease 0s;
color:black;
text-decoration: none;
}

.nav_links li a:hover {
color: rgb(255, 165, 0);
}

header {
  grid-area: header;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.title {
grid-area: title;
display: inline-grid;
padding: 15px;
margin-bottom: 55px;
min-height: 55px;
color: #313131;
}

section:nth-of-type(1) {
  display: inline-grid;
  grid-area: sect1;
  min-height:250px;
  max-width:540px;
  padding:15px;
  margin-bottom: 55px;
  margin-top: 45px;
} 

section:nth-of-type(2) {
  grid-area: sect2;
  padding:15px;
  margin-top: 55px;
}
section:nth-of-type(3) {
  grid-area: sect3;
  min-height:250px;
  padding: 5%;
  margin-top: 55px;
}
section:nth-of-type(4) {
  grid-area: sect4;
  right:35px;
  padding:15px;
  margin-top: 55px;
}
section:nth-of-type(5) {
  grid-area: sect5;
  background-color: pink;
}
section:nth-of-type(6) {
  grid-area: sect6;
  background-color: grey;
}
section:nth-of-type(7) {
  grid-area: sect7;
  background-color: pink;
  min-height:250px;
  padding: 15%;
}

.button {
  display:inline-grid;
  color: #313131;
  height:35px;
  width: 100px;
  text-align:left;
  position:bottom;
  text-decoration: none;
}
.button:hover {
  color: rgb(255, 165, 0);
  text-decoration: underline;
  transition: transform 0.3s ease;
  transform-origin: top left;
}

footer {
  grid-area: footer;
  align-items: center;
  display: inline-block;
  margin-left: 40%;
}
.footer_buttons {
  grid-area: footer;
  display:inline-block;
  height:5px;
  width:5px;
  padding:25px;
  opacity: 70%;
}
.footer_buttons:hover {
  grid-area: footer;
  display:inline-block;
  opacity: 100%;
  transition: 0.5s
}

@media only screen and (min-width: 768px) {

  body {
      margin: 35px;
      display: grid;
      grid-template-columns: 25% auto 11% 35%;
      grid-template-rows: 8% 8% auto auto auto 12%;
      grid-template-areas:
          "header header header header"
        "sidebar title  title  title"
          "sidebar sect1  sect1  sect2"
          "sidebar sect3  sect4  sect4"
          "sidebar sect5  sect5  sect6"
          "footer footer footer footer";
  }

}
/* alternative grid
* {
  box-sizing: border-box;
  margin: 60;
  padding: 0;
  background-color: white;
  font-family: "Monterrat", sans-serif;
  font-size: 16px;
}

li, a, button {
  font-family: "Monterrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px ;
}

.logo {
  cursor: pointer;
  max-width: 165px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: rgb(255, 165, 0);
}

button {
  padding: 9px 25px;
  background-color: rgb(255, 165, 0, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
}

button:hover {
  background-color: rgb(255, 165, 0, 0.8);
}

.containerGrid {
  display: grid;
  padding:15px;
  margin: 60px;
  grid-template-columns: 3/12 4/12 1/12 4/12;
  grid-template-areas: 
  'bio title title title'
  'bio img img desc'
  'bio desc img img'
  'bio img img desc' ;
}

.title {
  display: inline-grid;
  grid-area: title;
  grid-row: row ;
  font-family: Bebas Neue;
  font-size: 36px; 
  padding: 15px;
  background-color: grey;
} 

.img {
  display: inline-grid;
  grid-area: img;
  grid-column: 2 / span 4;
  grid-row: row 2;
  height: 100px;
  width: 300px;
  background-color:rgb(255, 165, 0);
} 

.desc {
  display: inline-grid;
  grid-area: desc;
  grid-row: row 2;
  background-color: grey;
}
.social_links {
  list-style: none;
  display: inline-grid;
  grid-area: leftSidebar;
}
.social_links li{
  display: inline-block;
  padding: 0px 20px;
}

.bio {
  display: inline-grid;
  grid-area: leftSidebar;
  margin-left: 60px;
  width: 25%;
}

.bio li {
  padding: 8px;
  margin-bottom: 7px;
}

.body {
  display: inline-grid;
  grid-area: body;
  margin-left: 60px;
  background-color:rgb(255, 165, 0);
}

/* alternative grid
[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
*/
